* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  background-image: url('./city-background.jpg');
  background-color: black;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

.header-form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header-title {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.title {
  color: white;
  font-family: 'Righteous', cursive;
  font-size: 100px;
  margin: 30px 0;
}

.title-description {
  color: white;
  font-family: 'Righteous', cursive;
  font-size: 30px;
}

.input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(173, 173, 173, 0.39);
  border: 2px solid white;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

h2 {
  color: white;
  font-family: 'Righteous', cursive;
  font-size: 1.5em;
  margin: 20px 0 0 0;
  text-align: center;
}

.folder-input-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.folder-input {
  width: 500px;
  height: 40px;
  padding: 10px 10px;
  font-size: 15px;
}

.submit-folder {
  height: 40px;
  width: 42px;
  margin-left: 10px;
  background-color: #297cc4;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

.submit-folder:hover {
  background-color: #fc552b;
  border-radius: 20px;
}

.submit-folder:disabled {
  background-color: grey;
  border-radius: 20px;
}

.submit-folder-icon {
  height: 43px;
  margin: -4px 0 0 -7px;
}

.dropbtn {
  background-color: #297cc4;
  outline: none;
  color: white;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: 4px solid white;
  width: 550px;
  height: 40px;
}

.dropdown:hover .dropbtn {
  background-color: #fc552b;
}

.url-wrapper {
  height: 160px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description-input {
  width: 550px;
  height: 40px;
  padding: 10px 10px;
  font-size: 15px;
}

.url-input {
  width: 550px;
  height: 40px;
  padding: 10px 10px;
  font-size: 15px;
}

.submit-url {
  width: 550px;
  height: 40px;
  background-color: #297cc4;
  color: white;
  font-size: 16px;
}

.submit-url:hover {
  background-color: #fc552b;
}

.url-viewer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: rgba(173, 173, 173, 0.39);
  border: 2px solid white;
}

.no-urls {
  color: white;
  font-family: 'Righteous', cursive;
  font-size: 1.5em;
  margin: 20px 0 0 0;
  text-align: center;
}

.url-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}

.url-title,
.url-date,
.url-short {
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  align-self: center;
}
